<mk-box  [isLoading]="false" [isCollapsed]="isCollapsed" [isCollapsable]="false" [isRemovable]="false">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" #formGroupRef="ngForm">
      <div class="box-body">   

        <div class="form-group col-6">        
          <label>Old Password*</label>
          <input formControlName="oldPassword" class="form-control" type="password" placeholder="Old Password">  
          <p class="errorCls" *ngIf="formRef['oldPassword'].touched || isFormSubmitted">
              <app-form-validation-errors errorPrefix="Old Password " [errors]="formRef['oldPassword'].errors || []"></app-form-validation-errors>
          </p>
        </div>

        <div class="form-group col-6">        
          <label>New Password*</label>
          <input formControlName="Password" class="form-control" type="password" placeholder="New Password">  
          <p class="errorCls" *ngIf="formRef['Password'].touched || isFormSubmitted">
              <app-form-validation-errors errorPrefix="New Password " [errors]="formRef['Password'].errors || []"></app-form-validation-errors>
          </p>
        </div>

        <div class="form-group col-6">        
          <label>Confirm New Password*</label>
          <input formControlName="confirmNewPassword" class="form-control" type="password" placeholder=" Confirm New Password">  
          <p class="errorCls" *ngIf="formRef['confirmNewPassword'].touched || isFormSubmitted">
              <app-form-validation-errors errorPrefix="Confirm New Password " [errors]="formRef['confirmNewPassword'].errors || []"></app-form-validation-errors>
          </p>
        </div>
          
          <div class="box-footer">     
              <button type="submit" [disabled]="!changePasswordForm.valid" [ngClass]="{ 'submit-btn-disable': !changePasswordForm.valid }"class="btn btn-primary">Submit</button>
          </div>  
          
      </div>       
  </form>
</mk-box>