<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <p><b>Forgot Password</b></p>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Enter your email to recover your password.</p>
  
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group has-feedback">
            <input type="email" formControlName="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <p *ngIf="formRef['email']?.touched || submitted">
              <app-form-validation-errors errorPrefix="Email " [errors]="formRef['email']?.errors || []"></app-form-validation-errors>
            </p>
          </div>
        
          <div style="margin-left:0px" class="row">       
           
            <div class="col-xs-12">
              <button type="submit" [disabled]="!forgotPasswordForm.valid" [ngClass]="{ 'submit-btn-disable': !forgotPasswordForm.valid }" [ngClass]="{ 'submit-btn-disable': !forgotPasswordForm.valid }" class="btn btn-primary btn-block btn-flat">Submit</button>
              
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <a routerLink="/auth/login">Go to Login?</a><br>    
  
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>
  